@tailwind base;
@tailwind components;
@tailwind utilities;


.header-container{
    /* background-image: 
        linear-gradient(to top,  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('./assets/images/child-smile-africa-cameroon.jpg'); */
        background-size: 100% 100%;
        background-size: cover;
    background-position: center;
}



.rec.rec-arrow, .rec.rec-arrow a{
    position:absolute;
    z-index: 20;
    box-shadow: none !important;
    background-color: transparent !important;
    font-size: 1.3rem !important;
    color:#fff !important;
    /* width: 30px !important;
    max-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important; 
    border-radius: 0 !important;*/
}
.rec.rec-arrow-right{
    right:0 !important;
}
.rec.rec-arrow-left{
    left:0 !important;
}

.sc-eCYdqJ.eLPooy.rec.rec-carousel{
    margin: 0 !important;
    padding: 0 !important;
}

.rec-pagination{
    display: none !important;
}


img{
    width:100%;
    height:100%;
}
